In [2]:
# Import pandas
import pandas as pd

In [3]:
# Create a series of three different colours
color_column = pd.Series(['Red', 'Yellow', 'Green'])

In [4]:
# View the series of different colours
color_column

0       Red
1    Yellow
2     Green
dtype: object

In [5]:
# Create a series of three different car types and view it
car_type_column = pd.Series(['Volvo', 'Toyata', 'Honda'])
car_type_column

0     Volvo
1    Toyata
2     Honda
dtype: object

In [6]:
# Combine the Series of cars and colours into a DataFrame
car_dataFrame = pd.DataFrame({'Car Types':car_type_column, 'Colors': color_column})

In [7]:
# Import "../data/car-sales.csv" and turn it into a DataFrame
car_sales = pd.read_csv("car-sales.csv")

In [11]:
# Export the DataFrame you created to a .csv file
car_sales.to_csv("car-sales-exported2.csv")

In [12]:
# Find the different datatypes of the car data DataFrame
# ??????????????????????

In [13]:
# Describe your current car sales DataFrame using describe()
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [14]:
# Get information about your DataFrame using info()
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [15]:
# Create a Series of different numbers and find the mean of them
numbers = pd.Series([1,2,3,4,5])
numbers.mean()

3.0

In [16]:
# Create a Series of different numbers and find the sum of them
numbers_2 = pd.Series([1,2,3,4,5])
numbers.sum()

15

In [25]:
# List out all the column names of the car sales DataFrame
# Method 1:
# print(list(car_sales.columns))
# Method 2:
for col in car_sales.columns:
    print(col)

<class 'pandas.core.indexes.base.Index'>
Make
<class 'str'>
Colour
<class 'str'>
Odometer (KM)
<class 'str'>
Doors
<class 'str'>
Price
<class 'str'>

In [26]:
# Find the length of the car sales DataFrame
car_sales.shape

(10, 5)